* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppinsfont);
}

:root {
    --mainbgcolor: rgb(40, 40, 40);
    --maintextcolor: rgb(196, 196, 196);
    --mainhovertextcolor: white;
    --poppinsfont: 'poppins'
}

/*login and sign up pages*/
#login-page-body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/login-signup-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(230, 230, 230);
}

#login-page-body h1 {
    font-size: 2.8rem;
}

.login-container, .register-container {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
    background: rgba(37, 37, 37, 0.568);
    backdrop-filter: blur(10px);
}

.login-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.login-inputs input {
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    padding: 16px;
    transition: .15s;
    font-size: 1.2rem;
    border-radius: 2px;
    color: rgb(230, 230, 230);
}

.login-inputs input:focus {
    outline: 1px solid gray;
    transition: .15s;
}

.login-inputs input::placeholder {
    color: rgb(230, 230, 230);
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-button button {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 8px 40px;
    background: rgb(56, 56, 56);
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s;
    color: rgb(230, 230, 230);
}

.login-button button:hover {
    background: rgb(78, 78, 78);
    transition: .3s;
}

.register-gmail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#gmail-auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(56, 56, 56);
    padding: 8px 18px;
    border-radius: 30px;
    border: 1px solid gray;
    cursor: pointer;
    transition: .3s;
    font-size: .9rem;
}

#gmail-auth-button:hover {
    background: rgb(78, 78, 78);
    transition: .3s;
}

#gmail-auth-button img {
    width: 1.3rem;
}

.login-container > h4 > a {
    color: rgb(124, 220, 255);
    text-decoration: underline;
    cursor: pointer;
}

.register-container > h4 > a {
    color: rgb(124, 220, 255);
    text-decoration: underline;
    cursor: pointer;
}

/*chat room page*/
body {
    height: 100vh;
    width: 100%;
    background: url(/assets/repeating-bg.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatroom-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 0 0 20px 10px rgba(16, 16, 16, 0.77);
    height: 80%;
    width: 90%;
    background: var(--mainbgcolor);
    border-radius: 20px;
    overflow: hidden;
}

/*chatroom nav container*/
#chatroom-nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background: rgb(54, 54, 54);
    padding: 10px;
    box-shadow: 15px 0 30px 5px #1b1b1b;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 4px;
}

nav a {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#chatroom-nav a {
    color: var(--maintextcolor);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: .3s;
}

#chatroom-nav a:hover {
    transition: .3s;
    color: var(--mainhovertextcolor);
}

.nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--maintextcolor);
    gap: 1.5rem;
    width: 100%;
    background: var(--mainbgcolor);
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 15px -2px rgb(0, 0, 0);
}

.nav-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#nav-username {
    font-size: 1.2rem;
    color: var(--maintextcolor);
    cursor: pointer;
    transition: .3s;
}

#nav-username:hover {
    color: var(--mainhovertextcolor);
    transition: .3s;
}

#nav-user-pfp {
    width: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.friends-icon {
    width: 2rem;
}

.nav-bottom {
    display: flex;
    justify-content: center;
    color: var(--maintextcolor);
}

/*chat messages container*/
#chat-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 70%;
    height: 100%;
    background: var(--mainbgcolor);
    padding: 1rem;
    border-right: 1px solid gray;
}


 /* larger tablets, laptops, smaller desktops */
@media only screen and (max-width: 1024px) {
    #login-page-body h1 {
        font-size: 4rem;
    }

    .login-container, .register-container {
        padding: 6rem 3rem;
    }

    .login-inputs input {
        font-size: 2rem;
    }

    .login-button button {
        font-size: 1.75rem;
        padding: 10px 80px;
    }

    .register-gmail {
        gap: 20px;
        font-size: 1.5rem;
    }
    
    #gmail-auth-button {
        font-size: 1.75rem;
    }

    /*chatroom nav container*/
    #chatroom-nav {
        width: 20%;
    }
    
    nav a {
        font-size: 1.1rem;
    }
    
    #nav-username {
        font-size: 1.1rem;
    }
    
    /*chat messages container*/
    #chat-container {
        width: 60%;
    }
}

/* regular tablets */
@media only screen and (max-width: 960px) {
    #login-page-body {
        gap: 2rem;
    }

    #login-page-body h1 {
        font-size: 2.5rem;
    }

    .login-container, .register-container {
        padding: 4rem 2rem;
    }

    .login-inputs input {
        font-size: 1.4rem;
    }

    .login-button button {
        font-size: 1.7rem;
        padding: 8px 60px;
    }

    /*chatroom*/
    nav a {
        font-size: 1.1rem;
    }

    #nav-user-pfp {
        width: 3.5rem;
    }

    #nav-username {
        font-size: 1.1rem;
    }

    /*chat messages container*/
    #chat-container {
        width: 65%;
    }
}

/* smaller tablets */
@media only screen and (max-width: 768px) {
    #login-page-body {
        gap: 1.5rem;
    }

    .login-container, .register-container {
        padding: 3rem 1.25rem;
    }

    /*chatroom nav container*/
    #chatroom-nav {
        width: 25%;
    }
    
    nav a {
        font-size: 1.1rem;
    }
    
    #nav-username {
        font-size: 1.1rem;
    }
    
    /*chat messages container*/
    #chat-container {
        width: 60%;
    }
}

/* small screens */
@media only screen and (max-width: 640px) {
    /*chatroom nav container*/
    #chatroom-nav {
        width: 20%;
    }
    
    nav a {
        font-size: .6rem;
    }

    .nav-top {
        gap: .8rem;
    }
    
    .nav-profile {
        gap: 1rem;
    }

    #nav-user-pfp {
        width: 2.2rem;
    }
    
    #nav-username {
        font-size: .65rem;
    }
    
    /*chat messages container*/
    #chat-container {
        width: 60%;
    }
}

/* small tablets/phones */
@media only screen and (max-width: 480px) {
    #login-page-body {
        flex-direction: column;
        gap: .5rem;
    }

    #login-page-body h1 {
        font-size: 2rem;
    }

    .login-container, .register-container {
        padding: 1.5rem 1rem;
    }

    .login-button button {
        font-size: 1.3rem;
        padding: 6px 40px;
    }

    /*chatroom nav container*/
    #chatroom-nav {
        width: 15%;
        box-shadow: 0 0 15px -8px rgb(0, 0, 0);
    }

    nav {
        display: none;
    }

    .nav-top {
        gap: .8rem;
        box-shadow: none;
        background: none;
    }
    
    .nav-profile {
        gap: 1rem;
    }

    #nav-user-pfp {
        width: 2.4rem;
        border: 1px solid gray;
    }
    
    #nav-username {
        font-size: .65rem;
        display: none;
    }
    
    /*chat messages container*/
    #chat-container {
        width: 70%;
    }
}

/* xsmall phones */
@media only screen and (max-width: 400px) {
    #login-page-body h1 {
        font-size: 2rem;
    }

    .login-container, .register-container {
        padding: .75rem .75rem;
    }

    /*chatroom nav container*/
    #nav-user-pfp {
        width: 2.4rem;
    }
}

/*xsmall phones */
@media only screen and (max-width: 375px) {
    #login-page-body {
        gap: .3rem;
    }

    #login-page-body h1 {
        font-size: 1.75rem;
    }

    .login-container, .register-container {
        padding: 1rem 1rem;
        gap: 2.5rem;
    }

    .login-inputs input {
        font-size: 1rem;
    }

    .login-button button {
        font-size: 1rem;
        padding: 6px 40px;
    }
}




@font-face{
    font-family: 'poppins';
    src: url(/assets/Poppins-Regular.otf);
}




